body {
    font-family: 'iannnnnCPU', sans-serif;
}
@font-face {
    font-family: 'iannnnnCPU';
    src: url('fonts/2005_iannnnnCPU.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


